button {
    display: flex;
    gap: 0.25rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-weight: 600;
    transition: 0.3s;
    padding: 0.5rem 1rem;
    font-size: .875rem;
    border: 1px solid transparent;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.7s;
    &:hover {
        background-color: #b6b6b6;
    }
    &.darkmode {
        background-color: #515151;
        color: white;
        &:hover {
            background-color: #c2c2c2;
            color: #212121;
        }
    }

    &.black {
        background: #212121;
        color: #fff;   
        &.darkmode {
            background-color: #515151;
        }
    }
    &.black:hover {
        background: #c2c2c2;
        color: #212121;
    }
    &.green {
        background: #70e15e;
        color: #212121;
        .darkmode {
            background-color: #437f3a;
        }
    }
    &.green:hover {
        background: #407b36;
        color: #fff;
        .darkmode {
            background-color: #1f3e1a;
        }
    }
}