.additional_menu {
    position: relative;
}
.additional_button {
    padding: .5rem .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.hamburgur_menu {
    position: absolute;
    left: -55px;
    top: 40px;
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    border-radius: 6px;
    border: 1px solid #bdbdbd;
    overflow: hidden;
    transition: 0.7s;
    &.darkmode {
        background-color: #212121;
        color: white;
    }
}
.menu {
    padding: .5rem .75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #bdbdbd;
    cursor: pointer;
    position: relative;
    &:last-child {
        border-bottom: none;
    }
}
.menu:hover {
    background-color: #bdbdbd;
    &.darkmode {
        background-color: #515151;
        opacity: 0.87;
    }
}

.menu_title {
    margin: 0;
}

.toggle_container {
    background-color: #868686;
    width: 60px;
    height: 24px;
    border-radius: 10px;
    transition: 0.7s;
    position: relative;
}

.toggle_circle {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    background-color: #e0e0e0;
    transition: 0.7s;
    &.darkmode{
        left: 38px;
        background-color: #515151;
    }
}