.additional_menu {
    position: relative;
}
.additional_button {
    padding: .5rem .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.hamburgur_menu {
    position: absolute;
    left: -30px;
    top: 40px;
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    border-radius: 6px;
}
.menu {
    padding: .5rem .75rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #bdbdbd;
    &:last-child {
        border-bottom: none;
    }
}