.post_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 5px;
    border-radius: 6px;
    padding: 1rem;
    background-color: #5f9a56;
    &.darkmode {
        background-color: #616161;
    }
}

.post_title {
    font-weight: bold;
    padding: .5rem .75rem;
    background-color: #81cc76;
    border-radius: 6px;
    &.darkmode {
        background-color: #414141;
        color: white;
    }
}

.post_content {
    padding:  .5rem .75rem;
    background-color: #81cc76;
    border-radius: 6px;
    &.darkmode {
        background-color: #414141;
        color: white;
    }
}

.post_media_container {
    box-sizing: border-box;
    width: 20rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2%;
    padding: 2%;
    border-radius: 6px;
    background-color: #81cc76;
    &.darkmode {
        background-color: #414141;
    }
}

.post_media {
    width: 45%;
    margin: 2%;
    aspect-ratio: 1/1;
    max-width: 10rem;
}

.display_comment_button {
    background-color: #81cc76;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &.darkmode {
        background-color: #414141;
        color: white;
    }
}