.post_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 6px;
    background-color: #5f9a56;
    &.darkmode {
        background-color: #616161;
    }
    &.profile_user_post {
        /* flex: 1 0 19.6875rem; */
        margin: 2%;
        width: 15rem;
        
        @media (max-width:1440px) {
            /* width: 21rem;
        }
        @media (max-width:1333px) {
            width: 20rem;
        }
        @media (max-width:1278px) {
            width: 19rem; */
            flex: 1 0 19rem;
            max-width: 19rem;
        }
        @media (max-width:1224px) {
            /* width: 28rem;
        }
        @media (max-width:1161px) {
            width: 26rem;
        }
        @media (max-width:1092px) {
            width: 23rem;
        }
        @media (max-width:987px) { */
            flex: 1 0 19rem;
            max-width: 20.5rem;
        }
        @media (max-width: 883px) {
            flex: 1 0 25rem;
            max-width: 680px;
        }
    }
}

.title_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: .5rem .5rem 0 .5rem;
    gap: 1rem;
}

.post_title {
    flex: 1 0 auto;
    font-weight: bold;
    padding: .5rem .75rem;
    /* margin: .5rem .5rem 0 .5rem; */ 
    background-color: #81cc76;
    border-radius: 6px;
    &.darkmode {
        background-color: #414141;
        color: white;
    }
}

.post_content {
    padding:  .5rem .75rem;
    margin: .5rem .5rem 0 .5rem;
    background-color: #81cc76;
    border-radius: 6px;
    &.darkmode {
        background-color: #414141;
        color: white;
    }
}

.post_media_container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2%;
    padding: 2%;
    margin: .5rem .5rem 0 .5rem;
    border-radius: 6px;
    background-color: #81cc76;
    &.darkmode {
        background-color: #414141;
    }
}

.post_media {
    width: 45%;
    margin: 2%;
    aspect-ratio: 1/1;
    max-width: 20rem;
}

.display_comment_button {
    margin: .5rem;
    background-color: #81cc76;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &.darkmode {
        background-color: #414141;
        color: white;
    }
    &.open {
        margin-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}