.friendlist_container {
    padding: 5px;
    flex: 1 0 auto;
    transition: 0.7s;
    background-color: #81cc76;
    margin: 0 5px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    &.darkmode {
        background-color: #212121;
        color: white;
    }
}