.sidebar_container {
    width: 25rem;
    display: flex;
    flex-direction: row;
}

.sidebar_button_container {
    padding: 5px;
    background-color: #81cc76;
    border-radius: 6px;
    height: 8.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    transition: 0.7s;
    &.darkmode {
        background-color: #212121;
    }
}

.sidebar_button {
    width: 50px;
    height: 50px;
}

.friend_list {
    padding: 5px;
    flex: 1 0 auto;
    transition: 0.7s;
    background-color: #81cc76;
    margin: 0 5px;
    border-radius: 6px;
    &.darkmode {
        background-color: #212121;
        color: white;
    }
}

.bookmark_list {
    padding: 5px;
    flex: 1 0 auto;
    transition: 0.7s;
    background-color: #81cc76;
    margin: 0 5px;
    border-radius: 6px;
    &.darkmode {
        background-color: #212121;
        color: white;
    }
}