.sidebar_container {
    width: 25rem;
    display: flex;
    flex-direction: row;
}

.sidebar_button_container {
    padding: 5px;
    background-color: rgb(217, 147, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    transition: 0.7s;
    &.darkmode {
        background-color: #212121;
    }
}

.sidebar_button {
    width: 50px;
    height: 50px;
}

.friend_list {
    flex: 1 1 auto;
    transition: 0.7s;
    &.darkmode {
        background-color: #212121;
    }
}

.bookmark_list {
    flex: 1 1 auto;
    transition: 0.7s;
    &.darkmode {
        background-color: #212121;
    }
}