.sidebar_container {
    display: flex;
    flex-direction: row;
}

.sidebar_button_container {
    padding: 5px;
    background-color: #81cc76;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    transition: 0.7s;
    &.darkmode {
        background-color: #212121;
    }
}

.friend_list {
    padding: 5px;
    flex: 1 0 auto;
    transition: 0.7s;
    background-color: #81cc76;
    margin: 0 5px;
    border-radius: 6px;
    &.darkmode {
        background-color: #212121;
        color: white;
    }
}

.bookmark_list {
    padding: 5px;
    flex: 1 0 auto;
    transition: 0.7s;
    background-color: #81cc76;
    margin: 0 5px;
    border-radius: 6px;
    &.darkmode {
        background-color: #212121;
        color: white;
    }
}

.friend {
    padding: .5rem .75rem;
    background-color:#66ac5c;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.7s;
    &.darkmode {
        background-color: #515151;
        color: white;
        &:hover {
            background-color: #c2c2c2;
            color: #212121;
        }
    }
    &:hover {
        background-color: #498440;
    }
}