.main_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    &.darkmode {
        background-color: #121212;
    }
}
.main_container {
    max-width: 90rem;
    min-height: calc(100vh - 9.375rem);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    padding: 10px 0;
}

.main_content {
    width: calc(100% - 25rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 6px;
    overflow: hidden;
}