.main_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    min-height: 100vh;
}
.main_container {
    max-width: 90rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
}

.main_content {
    width: 46rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}