.header_container {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color: rgb(162, 207, 255);
}