.header_wrapper {
    border-bottom: 1px solid #e0e0e0;
    transition: 0.7s;
    &.darkmode {
        background-color: #212121;
        border-bottom: 1px solid #212121;
    }
}
.header_container {
    position: sticky;
    top: 0;
    padding: .5rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-width: 90rem;
    margin: 0 auto; 
    @media (max-width:62.5rem) {
        justify-content: space-between;
    }
    @media (max-width:52.5rem) {
        /* 모바일 화면으로 기준 840px*/
    }
}

.header_function {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.search_part {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.optional_button_container {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}