.postsearch_options_container {
    width: 5rem;
    height: 1.875rem;
}
.postsearch_options_dropdown {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selected {
    border-radius: 5px;
    width: 5rem;
    height: 1.875rem;
}

.selected:hover {
    background-color: #8e929a;
    border: 1px solid #8e929a;
}

.postsearch_option {
    border-radius: 0px;
    width: 5rem;
    height: 1.875rem;
}

.postsearch_option:hover {
    background-color: #8e929a;
    border: 1px solid #8e929a;
}

.postsearch_option:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
