.postsearch_options_container {
    position: relative;
}
.postsearch_options_dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.selected {
    width: 5rem;
    overflow: hidden;
    background-color: #E0E0E0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
    padding: 8px 12px;
    border-bottom: 1px solid #BDBDBD;
    &:last-child {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;    
        border-bottom: none;
    }
}

.selected:hover {
    background-color: #8e929a;
    border: 1px solid #8e929a;
}

.postsearch_option {
    width: 5rem;
    background-color: #E0E0E0;
    text-align: center;
    padding: 8px 12px;
    border-bottom: 1px solid #BDBDBD;
    &:last-child {
        border-bottom: none;
    }
}

.postsearch_option:hover {
    background-color: #8e929a;
    border: 1px solid #8e929a;
}

