.chatting_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
    height: 23rem;
    overflow-y: scroll;
    background-color: #66ac5c;
    padding: .5rem;
    border-radius: 6px;
    transition: 0.7s;
    &.darkmode {
        background-color: #515151;
        color: white;
    }
}

.chatting {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    &.login_user {
        align-items: flex-end;
    }
}

.name {
    margin: 0;
}

.message {
    margin: 0;
    padding: .5rem .75rem;
    background-color: white;
    border-radius: 6px;
    transition: 0.7s;
    &.darkmode {
        background-color: #e0e0e0;
        color: #212121;
    }
}
