.postsearch_options_dropdown {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selected {
    border-radius: 5px;
}

.selected:hover {
    background-color: #8e929a;
    border: 1px solid #8e929a;
}

.postsearch_option {
    border-radius: 0px;
}

.postsearch_option:hover {
    background-color: #8e929a;
    border: 1px solid #8e929a;
}

.postsearch_option:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
