.set_chat_container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.options_container {
    position: absolute;
    top: 40px;
    background-color: rgb(201, 201, 201);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.chatroom_name {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.chatroom_title_input {
    padding: .5rem .75rem;
}