.set_chat_container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.options_container {
    position: absolute;
    top: 40px;
    left: -100px;
    background-color: yellowgreen;
    border: 1px solid #212121;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    transition: 0.7s;
    &.darkmode {
        background-color: #424242;
    }
}

.chatroom_name {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.chatroom_title_input {
    padding: .5rem .75rem;
    border-radius: 6px;
}