.postsearch_container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.Post_Search {
    flex: 1 0 auto;
    max-width: 19rem;
    border: none;
    border-radius: 5px;
    height: 1.25rem;
    background-color: #e0e0e0;
    padding: .5rem .75rem;
}

.postsearch_options_container {
    position: relative;
    
}
.postsearch_options_dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.selected {
    width: 5rem;
    background-color: #E0E0E0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
    padding: 8px 12px;
    border: 1px solid #e0e0e0;
    border-bottom: 1px solid #BDBDBD;
    font-size: .875rem;
    cursor: pointer;
    transition: 0.7s;
    &.darkmode {
        background-color: #515151;
        color: white;
        border: 1px solid #212121;
    }
    &:last-child {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;    
        border-bottom: none;
    }
}

.selected:hover {
    background-color: #8e929a;
    border: 1px solid #8e929a;
    transition: 0.7s;
    &.darkmode {
        background-color: #313131;
        border: 1px solid #313131;
    }
}

.postsearch_option {
    width: 5rem;
    background-color: #E0E0E0;
    text-align: center;
    padding: 8px 12px;
    border: 1px solid #E0E0E0;
    border-bottom: 1px solid #BDBDBD;
    font-size: .875rem;
    transition: 0.7s;
    &.darkmode {
        background-color: #515151;
        color: white;
        border: 1px solid #212121;
        border-top: none;
    }
    &:last-child {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;  
    }
}

.postsearch_option:hover {
    background-color: #8e929a;
    border: 1px solid #8e929a;
    transition: 0.7s;
    &.darkmode {
        background-color: #313131;
        border: 1px solid #313131;
    }
}

