.postmaker_container {
    width: 35rem;
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    overflow: hidden;
}

.postmaker_propile_container {
    background-color: #81cc76;
    padding: 10px;
    transition: 0.7s;
    &.darkmode {
        background-color: #212121;
    }
}

.postmaker_input_container {
    width: 25rem;
    padding: 10px;
    background-color: #81cc76;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.7s;
    &.darkmode {
        background-color: #212121;
    }
}

.title_input {
    padding: .5rem .75rem;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    transition: 0.7s;
    &.darkmode {
        background-color: #515151;
        border: 1px solid #515151;
        color: white;
        &::placeholder {
            color: white;
        }
    }
}

.content_input {
    padding: .5rem .75rem;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    height: 20vh;
    transition: 0.7s;
    resize: none;
    &.darkmode {
        background-color: #515151;
        border: 1px solid #515151;
        color: white;
        &::placeholder {
            color: white;
        }
    }
}

.postmaker_button_container {
    background-color: #81cc76;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.7s;
    &.darkmode {
        background-color: #212121;
    }
}
