.background_signup {
    padding: 10vh 0 ;
    background-color: #93dd87;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.form_title {
    margin: 0;
    padding: .5rem .75rem;
    font-size: 1.25rem;
    font-weight: bold;
}
.signup_container {
    background-color: white;
    margin: 0;
    padding: 2rem;
    height: 50.75rem;
    width: 37.5rem;
    border: .0625rem solid #e0e0e0;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 2rem;
}

.signup_form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 6px;
}

.form_label {
    font-size: 1rem;
}

.input {
    padding: 8px 12px;
    font-size: 1rem;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
}

.errorInput {
    padding: 8px 12px;
    font-size: 1rem;
    border: 1px solid rgb(196, 20, 20);
    border-radius: 6px;
}

.username_input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

#username {
    flex: 1 0 20rem;
}

#gender {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 .75rem;
    gap: 3rem;
}

.signup_button_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2rem;
}

.modal_title {
    width: 28rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.errormessage {
    color:rgb(196, 20, 20)
}
.successmessage {
    color: #69de8a;
}