
.add_friend_container {
    position: fixed;
    left: 9.8125rem;
    width: 15.625rem;
    padding: 5px;
    flex: 1 0 auto;
    transition: 0.7s;
    background-color: #81cc76;
    margin: 0 5px;
    border-radius: 6px;
    border: 1px solid #5f9a56;
    display: flex;
    flex-direction: column;
    &.darkmode {
        background-color: #212121;
        color: white;
        border: 1px solid #414141;
    }
}

.add_friend_search_container {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
}

.add_friend_input {
    flex: 1 0 auto;
    padding: .5rem .75rem;
    border:none;
    border-radius: 6px;
}

.user_container {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user {
    padding: .5rem .75rem;
    background-color:#66ac5c;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    &.darkmode {
        background-color: #717171;
        &:hover {
            background-color: #8c8c8c;
            color: #212121;
        }
    }
    &:hover {
        background-color: #498440;
    }
}

.user_info_container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    .profile_img {
        width: 2.5rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        overflow: hidden;
    }
}

.user_button_container {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.user_interaction_button_container {
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    top: 24px;
    background-color: #e0e0e0;
    border-radius: 6px;
    border: 1px solid #bdbdbd;
    &.darkmode {
        background-color: #212121;
        color: white;
    }
}

.user_interaction_button {
    padding: .5rem .75rem;
    min-width: 5rem;
    border-bottom: 1px solid #bdbdbd;
    text-align: center;
    cursor: pointer;
    &:last-child {
        border-bottom: none;
    }
}
