.friend_container {
    background-color: #81cc76;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 6px;
    transition: 0.7s;
    &.darkmode {
        background-color: #212121;
        color: white;
    }
}

.friendList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.profile_user_friend {
    width: 26%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    border-radius: 6px;
    background-color: #5f9a56;
    .profile_img {
        width: 2rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        overflow: hidden;
    }
    &.darkmode {
        background-color: #515151;
        color: white;
    }
}
