.profile_user_friend_container {
    margin-top: 1rem;
    padding: .5rem;
    border-radius: 6px;
    background-color: #81cc76;
    &.darkmode {
        background-color: #212121;
        color: white;
    }
}

.profile_user_friendList {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}