button {
    border-radius: 10px;
    width: 10vw;
    height: 5vh;
    font-size: 13px;
    border: 1px solid #c2c7d0;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background-color: #8e929a;
    border: 1px solid #8e929a;
}
